<div class="card card-body comments-section">
 <h2>Add a comment:</h2>
<%= form_with model: [ @travel_log, @travel_log.comments.build ] do |form| %>
     <p>
  <%= form.hidden_field :user_id, value: current_user.id %>
</p>
  <p>
    <%= form.label :content %><br>
    <%= form.text_area :content %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>
</div>