<div class="card card-body comments-section">
 <h2>Add a comment:</h2>
<%= form_with model: [ @travel_log, @travel_log.comments.build ] do |form| %>
     <p>
  <%= form.hidden_field :user_id, value: current_user.id %>
</p>
  <p>
    <%= form.label :content %><br>
    <%= form.text_area :content %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>


<h2>Comments</h2>
<% @travel_log.comments.order(created_at: :desc).each do |comment| %>
  <div class="card my-3">
    <div class="card-body">
      <h5 class="card-title"><%= comment.user.username %></h5>
      <p class="card-text"><%= comment.content %></p>
      <% if user_signed_in? && comment.user == current_user %>
        <ul class="list-inline">
          <li class="list-inline-item"><%= link_to "Edit", travel_log_comment_path(@travel_log, comment) %></li>
          <li class="list-inline-item"><%= link_to "Delete", travel_log_comment_path(@travel_log, comment), data: {
              turbo_method: :delete,
              turbo_confirm: "Are you sure you want to delete comment?"
            }, method: :delete %></li>
        </ul>
      <% end %>
    </div>
  </div>
<% end %>

