<h1> Create New Travel Log </h1>

<%= form_for @travel_log do |f| %>

<div class="new-travel-log-form">
<%= f.label :image, "Image" %>
<%= f.text_field :image %>
</div>

<div class="new-travel-log-form">
<%= f.label :title, "Title" %>
<%= f.text_field :title %>
</div>

<div class="new-travel-log-form category">
<%= f.label :category, "Category" %>
 <%= f.select :category, options_for_select(Destination::CATEGORIES) %>
</div>

<div class="new-travel-log-form">
<%= f.label :description, "Description" %>
<%= f.text_area :description, rows: 3 %>
</div>

<%= f.submit "Submit", :class => "button" %>

<% end %>

