<!DOCTYPE html>
<html>
  <head>
    <title>FlutterAppCapstone</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Carter+One&family=Fira+Sans+Condensed&family=Koulen&display=swap" rel="stylesheet">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render 'layouts/nav' %>
      <span class="notice"><%= notice %></span>
       <span class="alert"><%= alert %></span>
      <span class="delete-btn">
  <% if user_signed_in? %>
    <%= link_to "Delete Profile", registration_path(current_user), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete your profile?" }, class: "btn btn-danger" %>
  <% end %>
</span>
    <%= yield %>
  </body>
</html>
